.editColumnItemModal
    line-height: 1.5

.editColumnItemModal__label
    display: block
    margin: 0 0 0.5rem 0

.editColumnItemModal__content
    padding: 1rem
    background: white
    outline: none
    border-radius: 10px
    width: clamp(300px, 60%, 1200px)

.editColumnItemModalContent__title
    font-weight: bold
    font-size: 1.5rem
    margin: 0 0 1rem 0

.editColumnItemModalContent__description textarea
    width: 100%
    height: 100px
    padding: 1rem
    border-radius: 4px
    resize: none
    outline: none