@import '../../styles/colors.sass'
@import '../../styles/mixins.sass'

.list
    margin: 0 1rem 0 0
    max-width: 300px
    min-width: 300px
    width: 300px

.listHeader
    margin: 0 0 16px 0
    background-color: $draftMain
    padding: 1rem 1.2rem
    border-radius: 10px
    overflow: hidden
    &__details
        display: flex
        justify-content: space-between
        align-items: center

    &__actions
        display: flex

    &__listItems
        display: flex
        flex-direction: column
