@import '../../styles/colors.sass'
@import '../../styles/mixins.sass'
    
.list
    margin: 0 1rem 0 0
    max-width: 300px
    min-width: 300px
    width: 300px

    &__header
        display: flex
        justify-content: space-between
        align-items: center
        background-color: $btnBlue
        padding: 1rem 1.2rem

    &__newItem
        display: flex
        margin: 0 0 1rem 0

    &__listItems
        display: flex
        flex-direction: column
