@import '../../styles/colors.sass'
@import '../../styles/_mixins.sass'

.listItem
    display: flex
    justify-content: space-between
    margin: 0 0 0.5rem 0rem
    background-color: $done
    border-radius: 10px
    padding: 16px
    transition: 200ms box-shadow ease
    transition: 200ms background-color ease

    &:hover 
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12)

    @media (max-width: 350px)
        margin: 0 auto 0.75rem auto
        width: 95%

    &__done
        background-color: $done !important
    &[data-priority="low"]
        background-color: $lowPriority
    &[data-priority="medium"]
        background-color: $mediumPriority
    &[data-priority="high"]
        background-color: $highPriority
    &__subtask
        width: 80%
        margin-left: auto !important
        margin: 0 0 0.5rem 0rem

    &__heading
        margin: 0 0 8px 0

    &__content
        flex: 0.8
        align-items: center
        cursor: pointer
        color: $textLight
        word-wrap: break-word

    &__actions
        visibility: hidden

        &__button
            cursor: pointer

        &.hover
            visibility: visible

@media (hover: none) and (pointer: coarse)
    /* touchscreens */
    .item__actions__settings,
    .item__actions__delete,
    .item__actions__subtask
        visibility: visible

@media (hover: none) and (pointer: fine)
    /* stylus */
    .item__actions__settings,
    .item__actions__delete,
    .item__actions__subtask
        visibility: visible

@media (hover: hover) and (pointer: coarse)
    /* controllers */
    .item__actions__settings,
    .item__actions__delete,
    .item__actions__subtask
        visibility: visible

@media (hover: hover) and (pointer: fine)
    /* mouse or touchpad */
