@import '../../styles/mixins'
    
.newDetailedItem
    @include center_absolute
    width: Min(90%, 400px)
    background-color: white
    box-shadow: 0 0 2px black
    padding: 1rem
    border: none
    outline: none