@import 'components/assets/styles/_colors.sass'
    
.currentCollection
    display: flex
    flex-direction: column
    padding: 1.5rem
    width: 100%

    &__header
        margin: 0 0 1rem 0
        font-weight: bold
        font-size: 2rem
        text-transform: uppercase
        color: $textDark

    &__lists
        display: flex