@import '../components/assets/styles/_colors'
    
.singleList
    margin: 0 1rem 0 0
    padding: 1rem
    min-width: 300px
    background-color: $listBackground

    &__name
        color: $textDark
        font-weight: bold
        font-size: 1.2rem
        margin: 0 0 1rem 0
        text-transform: uppercase