$btnAddColor: #fff
$btnCloseColor: #3F51B5
$background: #F0F1F6
$textLight: #f6f6f8
$textDark: #4d4d50
$mainBlue: #3A5FEB
$mainBlueHover: #274edf
$lightBlue: #4a6ef0
$btnBlue: #3F51B5
$btnBlueHover: #303f9f
$done: #008000
$notDone: #FF0000
$notDoneInput: #ff7e7e
$listBackground: #bccaff