.collectionItem {
    display: flex;
    align-items: center;
    margin: auto 0;
}

.collectionName {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1rem 0;
}

.collectionItem__deleteButton {
    margin-left: auto !important;
}