* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;

    --textLight: #f6f6f8;
    --textDark:  #4d4d50;
    --mainBlue: #3A5FEB;
    --mainBlueHover: #274edf;
    --lightBlue: #4a6ef0;
    --btnBlue: #3F51B5;
    --doneGreen: #008000;
    --notDoneRed: #FF0000;
}

:root {
    background-color: #F0F1F6;
}

li {
    list-style-type: none;
}